{# templates/captureFailed.html.twig #}

{% extends "parent.html.twig" %}

{% block body %}

	<h5>Le pokémon a déjà été entrainé il y a moins d'une heure! Vous ne pouvez pas capturer avec lui.</h5>

{% endblock %}

