{# templates/entrainement_pkm_success.html.twig #}

{% extends "parent.html.twig" %}

{% block body %}

	<h3> Le pokémon a été entraîné avec succès !</h3>
	<p> {{pkm.RefPokemon.Nom}} à gagné {{xpGagnee}} points d'expérience.</p>

{% endblock %}