{# templates/liste.html.twig #}

{% extends "parent.html.twig" %}

{% block body %}

<h1>Bienvenue dans la liste!</h1>

<table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </thead>
            <tbody>

{% for pokemon in ref_pkms %}

	<tr>
		<td>{{pokemon.id}}</td>	
		<td>{{pokemon.nom}}</td>
		<td> <a href="/projet_symfony/public/index.php/detail/{{pokemon.id}}">Detail - <a href="/projet_symfony/public/index.php/delete_pkm/{{pokemon.id}}">Supprimer</td>
	</tr>


{% endfor %}
	</tbody>
</table>


{% endblock %}
